@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@media screen and (max-width: 1200px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 1100px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .logo{
    font-size: 1.2rem;
  }

  #skills,
  .skills-details-container {
    margin-top: 2rem;
  }
  .title h1{
    text-align: left;
    color: rgb(29, 29, 29);
    font-size: 50px;
  }
  .skills, title h1 {
    position: relative;
    top: -320px;
    color: black;
    font-family: 'serif';
    margin-left: 24px;
  }
  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 4%;
  }

  }

  .about-containers {
    margin-top: 0;
  }

  .header-text h1{
    text-align: left;
    color: rgb(13, 13, 13);
    font-size: 60px;
  }


  .skill-containers{
    margin-top: 0;
  }
@media screen and (max-width: 600px) {
 section{
min-height: fit-content;
 }
 
 #about{
  justify-content: center;
  min-height: fit-content;
 }

  #contact
  .contact-section{
    min-height: fit-content;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 5rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 100vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 3rem;
  }

  .text-container {
    text-align: justify;
  }
  .social-ending{
    padding-top: 10rem;
    
  }
  .details-container{
    margin-top: 10px;
  }
  .social-container{
    padding: 2rem;
    align-items: left;
    justify-content: left;
    margin-top: 10px;
    margin-left: 1em;
    }
  
  .social-container a{
      display: inline-flex;
      width: 40px;
      height: 40px;
      text-decoration: none;
      border: 2px solid #860404;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: #0f0f0f;
      margin: 5px 5px;
    }
  .social-container a:hover{
      transform: scale(1.1);
      background-color: rgb(215, 206, 206);
      color: #b20f1a;
      transition: ease.5s;
    }
  
    /* Project */
    .proj-contain {
      margin-top: 100px;   
    }
  
    .proj-card {
      margin: 40px 20px;
      padding: 20px 15px;
      align-items: center;
    }
    .details-container{
      margin-top: 100px;
    }
  
    .proj-imgBx,
    .proj-imgBx img {
      width: 250px;
      height: 212px;
    }

    .footer{
      height: 30vh;
    }

    .footer p{
      text-align: center;
    }
  
}
@media screen and (max-width: 600px) {
  .contact-section {
      flex-direction: column;
      align-items: center;
  }

  .contact-image {
      margin-right: 0;
      margin-bottom: 20px;
  }

  .contact-image img {
      width: 100%;
      max-width: 300px;
  }
  
  .contact-form {
      max-width: 100%;
  }
  .about-me-image{
    margin-right: 0;
  }
  .about-me-image img{
  margin-left: 25%;
  height: 10em;
  width: 10em;
}
.section.card {
  min-width: 50px;
  height: 700px;
}

.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

}